.chessboardGrid {
  display: flex;

  &__left {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    .chessboardGrid__cell {
      width: 20rem;
      height: 3rem;
    }

    .chessboardGrid__cell--corner {
      height: 6rem;
      background: transparent;
    }
  }

  &__right {
    overflow-x: auto;
    width: 100%;

    .chessboardGrid__header {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
      z-index: 2;
      background: var(--colorWhite);
    }

    .chessboardGrid__months,
    .chessboardGrid__days {
      display: grid;
      grid-template-columns: repeat(365, 5rem);
    }

    .chessboardGrid__body {
      display: flex;
      flex-direction: column;

      .chessboardGrid__row {
        display: grid;
        grid-template-columns: repeat(365, 5rem);
      }
    }

    .chessboardGrid__cell {
      width: 5rem;
      height: 3rem;
      border: 1px solid var(--colorSilver);
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    .chessboardGrid__cell--month {
      justify-content: start;
      padding-left: 3rem;
      background: var(--colorSilver);
      font-weight: bold;
      text-transform: capitalize;
    }

    .chessboardGrid__cell--header {
      flex-direction: column;
      background: var(--colorWhiteSmoke);
      font-weight: bold;

      .chessboardGrid__day-number {
        font-size: 1.5rem;
      }
      .chessboardGrid__weekday {
        font-size: 1.5rem;
        color: var(--colorGray);
      }
    }
  }

  &__cell--row-header {
    background: var(--colorWhite);
    justify-content: flex-start;
    padding-left: 1rem;
    font-weight: bold;
  }
}
